.card {
  background: #fff;
  border-radius: 2px;
  height: 300px;
  width: 230px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 10px;
  display: flex;
  flex-direction: column; }

  .card-head {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    height: 60px;
    border-bottom: 1px solid gray;
}

  .candidate-card-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 11px;
  }

.center {
  text-align: center;
}

  .card-head-text h3 {
    text-align: right;
  }