.datamap-outer-container {
  padding: 0;

}

  #datamap-container {
    position: relative;
    margin: 0 auto;
    height: 450px;
    width: 900px;
    overflow: hidden;
  }


@media screen and (max-width: 1060px) {
  #datamap-container {
    height: 400px;
    width: 800px;
  }
}

@media screen and (max-width: 940px) {
  #datamap-container {
    height: 350px;
    width: 700px;
  }
}

@media screen and (max-width: 820px) {
  #datamap-container {
    height: 300px;
    width: 600px;
  }
}

@media screen and (max-width: 730px) {
  #datamap-container {
    height: 250px;
    width: 500px;
  }
}


@media screen and (max-width: 620px) {
  #datamap-container {
    height: 200px;
    width: 400px;
  }
}

@media screen and (max-width: 400px) {
  #datamap-container {
    height: 150px;
    width: 300px;
  }
}