@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

body {
font-family: 'Open Sans', sans-serif;
color: #7b807b;
}

h1, h3, ul, p {
  display: block;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;

}


button {
  padding: 7px;
  font-size: 12px;
  border: none;
}

.top-button {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0px;
  right: 0px;
  color: white;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

a.top-button {
  text-decoration: none;
}

