.candidate-bar{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding: 1%;
}

.candidate-img {
  background-position: center;
  background-size: cover;
  height: 150px;
  margin: 0 2px;
  min-width: 150px;
}