.contribution-card-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 750px; }

.contribution-card-holder {
  display: flex;
  flex-wrap: wrap;
  }

.active {
  background: green;
  color: white;
}

@media screen and (max-width: 1045px) {
  .contribution-card-container {
    width: 500px; }
}


@media screen and (max-width: 840px) {
  .contribution-card-container {
    width: 250px; } }