
.charts{
  display: flex;
  justify-content: space-around;
  width: 70vw;
  height: 40vh;
}

.details-head {
  border-bottom: 1px solid gray;
}

.details-name-div {
  background: #184982;
  color: white;
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  padding-top: 5px;
}

.details-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.candidate-breakdown {
  min-width: 300px;
}

.candidate-info {
  background: #ecebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.details-image {
  width: 150px;
}

.details-stat {
  display:flex;
  flex-direction: row;
  height: 80px;
  margin: 15px 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #184982;

}

.stat-details {
  margin-left: 20px;
}

.details-icon {
  align-items: center;
  background-color: #a2000b;
  color: #fff;
  display: flex;
  font-size: 30px;
  height: 100%;
  justify-content: center;
  width: 70px;
  height: 70px;
}

.main-details-container {
  display:flex;
  flex-direction: column;
}

.instructions {
  color: #a2000b;
}

.candidate-graph-title{
  font-size: 24px;
}